<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to MailTest, <%= @user.name %></h1>
    <p>
      Mail test is successful,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      sample link to check instance vars: <%= @url %>.
    </p>
    <p>Thanks for testing and have a great day!</p>
  </body>
</html>